aside {
    padding: 10px;
}

.asitem {
    background-color: violet;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    padding: 15px 5px;
    margin: 20px 0px;
}

@media (min-width:400px) and (max-width:1200px) {
    aside{
        display:none;
    }
    
    body {
        grid-template: 80px 1fr 150px / 0.1fr 1fr 0.1fr;
        grid-template-areas:
        "header header header"
        ". content  ."
        "footer footer footer";
    }
 }