body {
    display: grid;
    grid-template: 80px 1fr 150px / 0.1fr 1fr 300px;
    word-wrap: break-word;
    grid-template-areas:
    "header header header"
    ". content  aside"
    "footer footer aside";
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

#content {
    grid-area: content;
}