header {
    display: flex;
    position: fixed;
    height: 80px;
    width: 100%;
}

header ul {
    display: flex;
    list-style: none;
    width: 60%;
    padding: 15px 20px;
}

header li {
    margin: 0px 20px;
    font-size: 20px;
}

header img {
    height: 80px;
}