pre {
    background-color: #161B22;
}

hr {
    border: 2px solid #30363D;
}

body {
    width: 60%;
    color: #C9D1D9;
    background-color: #0D1117;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #30363D;
    border-radius: 5px;
}