pre {
	background-color: #fff;
}
hr {
	border: 2px solid #E1E4E8;
}
body {
	background-color: #fff;
	border: 1px solid #E1E4E8;
	border-radius: 6px;
	color: #24292E;
	margin: 50px auto;
	padding: 50px;
	width: 60%;
}
