header {
    background-color: aqua;
}

aside {
    background-color: blueviolet;
}

#content {
    border: 2px darkgreen solid;
}

footer {
    background-color: crimson;
}

.asitem button img {
    height: 30px;
}