#viewport .view-item {
    border: 3px solid rgb(128, 128, 128);
    border-radius: 8px;
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    background-color: rgb(200, 200, 200);
}


.view-item .head {
    content: attr(div);
    height: 25px;
    padding: 5px 0px 0px 10px;
    margin: -20px -20px -10px -20px;
    background-color: rgb(128, 128, 128);
}

.view-item a {
    color: black;
}

.view-item .description {
    padding: 8px;
    margin-bottom: 12px;
    background-color:  rgb(190, 190, 190);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 6px;
}