@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
}
.main__title {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    font-size: 24px;
}